@model MyStore.Models.LocalPasswordModel

<h3>Изменение пароля</h3>

<div id="contact_form">
    @using (Html.BeginForm("Manage", "Account")) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>
            <legend>Изменение пароля</legend>
            <ol>
                <div class="cleaner h10"></div>
                <li>
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword)
                </li>
                <div class="cleaner h10"></div>
                <li>
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword)
                </li>
                <div class="cleaner h10"></div>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </li>
            </ol>
            <input type="submit" value="Изменить пароль" />
        </fieldset>
    }
</div>