@{
    //ViewBag.Title = "Catalog";
}

@section Sidebar
{
    <div id="sidebar" class="float_l">
        	<div class="sidebar_box"><span class="bottom"></span>
            	<h3>Жанры</h3>   
                <div class="content"> 
                	<ul class="sidebar_list">
                         @{
                            int i = 0;
                        }
                        @foreach(MyStore.Models.Categorie categorie in ViewBag.Categories)
                        {
                            if(i==0)
                            {
                                <li class="first"><a href="~/Home/Catalog/@categorie.CategorieId">@categorie.Name</a></li>
                                i++;
                            }
                            else
                            {
                                <li><a href="~/Home/Catalog/@categorie.CategorieId">@categorie.Name</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
}
<div id="content" class="float_r">
        	<h1>@ViewBag.Title</h1>
     @{
        int a = 1;
    }
    @if (ViewBag.Count != 0)
    {
        foreach (MyStore.Models.Book book in ViewBag.Books)
        { 
            if(a%3!=0)
            {
            <div class="product_box">
            	    <a href="@Url.Content("~/Home/Productdetail/"+book.BookId)"><img src="@Url.Content("~/images/product/"+book.ImagePath)" alt="Image 01" /></a>
                    <h3>@book.Name</h3>
                    <p class="product_price">@book.Price руб</p>
                    @if (Request.IsAuthenticated)
                {
                   <form name="myfrm" method="post" action="@Url.Content("~/Home/ShoppingCart")"> 
                        <input type="hidden" name="BookId" value="@book.BookId"/>
                        <input type="submit" class="add_to_cart_submit" value="Добавить в корзину" />
                    </form>
                }
            else
            {
                    <a href="#" class="add_to_card dialog-link">Добавить в корзину</a>
                }
                    <a href="@Url.Content("~/Home/Productdetail/"+book.BookId)" class="detail">Подробнее...</a>
                </div> 
                a++;
            }
            else
            {
                <div class="product_box no_margin_right">
            	    <a href="@Url.Content("~/Home/Productdetail/"+book.BookId)"><img src="@Url.Content("~/images/product/"+book.ImagePath)" alt="Image 01" /></a>
                    <h3>@book.Name</h3>
                    <p class="product_price">@book.Price руб</p>
                    @if (Request.IsAuthenticated)
                {
                     <form name="myfrm" method="post" action="@Url.Content("~/Home/ShoppingCart")"> 
                        <input type="hidden" name="BookId" value="@book.BookId"/>
                        <input type="submit" class="add_to_cart_submit" value="Добавить в корзину" />
                    </form>
                }
            else
            {
                    <a href="#" class="add_to_card dialog-link">Добавить в корзину</a>
                }
                    <a href="@Url.Content("~/Home/Productdetail/"+book.BookId)" class="detail">Подробнее...</a>
                </div> 
                a++;
            }
        }
    }
    else
    {
        <p>По вашему запросу ничего не найдено</p>
    }
            
</div>
